In [23]:
a= [1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']
#   0  1  2  3   4    5    6     7        8       9      10     11

In [ ]:
list(range(len(a)))

In [24]:
a[7]

'Hello'

In [25]:
a[12]

IndexError: list index out of range

In [ ]:
#can we iterate item in list using range?

for x in range(len(a)):
    print(a[x])

In [ ]:
# Que:Create table of 5 in the following format
#     5*1 = 5
#     5*2 = 10
#     -
#     -
#     5*10 = 50

In [21]:
a=list(range(1,11))

In [22]:
for x in range(len(a)):
    print(x,"* 6 = ",x*6)

0 * 6 =  0
1 * 6 =  6
2 * 6 =  12
3 * 6 =  18
4 * 6 =  24
5 * 6 =  30
6 * 6 =  36
7 * 6 =  42
8 * 6 =  48
9 * 6 =  54

In [19]:
for x in range(len(a)):
    if (x==0):
        continue
    print(x,"* 6 = ",x*6)

1 * 6 =  6
2 * 6 =  12
3 * 6 =  18
4 * 6 =  24
5 * 6 =  30
6 * 6 =  36
7 * 6 =  42
8 * 6 =  48
9 * 6 =  54
10 * 6 =  60

In [35]:
a=list(range(5,51,5))

In [36]:
a

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [37]:
(range(len(a)))

range(0, 10)

In [32]:
list(range(len(a)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Que:Create table of 5 in the following format
#     5*1 = 5
#     5*2 = 10
#     -
#     -
#     5*10 = 50

In [ ]:
a = [5, 10, 15, (20), 25, 30, 35, 40, 45, 50]
#    0   1   2   (3)   4   5   6   7   8   9   ===> x

In [ ]:
x=3

In [ ]:
f"5 * {x+1} = ",a[x]
f"5 * {3+1} = ",a[3]

f"5 * 4 = ",20

In [38]:
a=range(5,51,5)
for x in range(len(a)):
    print(f"5 * {x+1} = ",a[x])

5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
5 * 10 =  50

In [39]:
# ### Slicing
#a[starting_index:ending_index:jump]
# All Elements

In [42]:
a= [1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [43]:
print(a[3:]) # From 3 to foward

[4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [44]:
print(a[5:8] )# Between 5 and 8 (5,8)

['6', '7', 'Hello']

In [45]:
print(a[:3] )# from start to 3

[1, 2, 3]

In [46]:
print(a[::]) # Full list

[1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [47]:
print(a[::-1]) # Reverse

['Houndred', False, True, 'World', 'Hello', '7', '6', '5', 4, 3, 2, 1]

In [48]:
# ### Concatenate
b = [1,2,3,4]
c = [4,6,7,8]

In [49]:
type(b) # datatype in variable b

list

In [50]:
len(b) # Len of variable b

4

In [51]:
b + c

[1, 2, 3, 4, 4, 6, 7, 8]

In [52]:
c + b

[4, 6, 7, 8, 1, 2, 3, 4]

In [53]:
n = b + c

In [54]:
n

[1, 2, 3, 4, 4, 6, 7, 8]

In [55]:
b

[1, 2, 3, 4]

In [57]:
c=55

In [60]:
b + c  # Number not concatenated in list
       # To concat we need all variables list

TypeError: can only concatenate list (not "int") to list

In [62]:
b

[1, 2, 3, 4]

In [63]:
b*2   # Replicate 2 (must be int) times

[1, 2, 3, 4, 1, 2, 3, 4]

In [64]:
b*2.5

TypeError: can't multiply sequence by non-int of type 'float'

In [65]:
b

[1, 2, 3, 4]

In [67]:
b = [1,2,3,4]
c = [4,6,7,8]

In [68]:
b*c

TypeError: can't multiply sequence by non-int of type 'list'

In [69]:
b/c

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [70]:
b/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [71]:
b-c

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [72]:
b-4

TypeError: unsupported operand type(s) for -: 'list' and 'int'