
string + string   ===> string
string + int      ===> Error
string + str(int) ===> string

In [1]:
"abc"+ 5

TypeError: can only concatenate str (not "int") to str

In [2]:
"abc"+ 5.6

TypeError: can only concatenate str (not "float") to str

In [3]:
"abc"+ str(5.6)

'abc5.6'

In [4]:
a=5

In [5]:
type(str(a))

str

## STRING FORMATTING

STRING FORMATTING

     1) f-string
     2) .format()

placeholders {}



"My name is ---.I am --- years old"

In [7]:
name="Ganesh"

In [8]:
"My name is name."

'My name is name.'

In [9]:
name ="Raj"
age = 25

In [10]:
name

'Raj'

In [11]:
age

25

In [12]:
"My name is name.I am age years old"

'My name is name.I am age years old'

In [13]:
f"My name is {name}.I am {age} years old"

'My name is Raj.I am 25 years old'

In [14]:
f"My name is {name} .I am {age} years old"

'My name is Raj .I am 25 years old'

#  .format()

In [15]:
"My name is {1}.I am {0} years old".format(age,name)

In [16]:
"My name is {}.I am {} years old".format(name,age)

'My name is Raj.I am 25 years old'

In [17]:
"My name is {}.I am {} years old".format(age,name)
#                                         0   1

'My name is 25.I am Raj years old'

In [ ]:
"My name is {}.I am {} years old".format(age,name)

In [18]:
"My name is {1}.I am {0} years old".format(age,name)
#                                           0    1

'My name is Raj.I am 25 years old'

In [23]:
name ="Raj"
age = 25
lang="Python"

In [24]:
"My name is name.I am age years old. I am learning lang."

'My name is name.I am age years old. I am learning lang.'

In [26]:
"My name is {}.I am age years {}. I am learning {}".format(name,age,lang)

'My name is Raj.I am age years 25. I am learning Python'

In [25]:
"My name is {}.I am age years {}. I am learning {}".format(lang,age,name)

'My name is Python.I am age years 25. I am learning Raj'

In [27]:
"My name is {2}.I am age years {1}. I am learning {0}".format(lang,age,name)
                                                           #  0    1   2

'My name is Raj.I am age years 25. I am learning Python'

In [28]:
a="My name is {1}.I am {0} years old"

In [29]:
a

'My name is {1}.I am {0} years old'

In [31]:
a.format(name,age)
#         0    1

'My name is 25.I am Raj years old'

In [32]:
a="abc"

In [33]:
a

'abc'

In [34]:
"My name is name.I am age years old"

'My name is name.I am age years old'

In [35]:
print("My name is name.I am age years old")

My name is name.I am age years old

In [41]:
"My name is name.\nI am age years old"

'My name is name.\nI am age years old'

In [40]:
print("My name is name.\n I am age years old")

My name is name.
 I am age years old

In [44]:
print(r"My name is name.\n I am age years old")

My name is name.\n I am age years old

In [42]:
print("My name is name.\t I am age years old")

My name is name.	 I am age years old

## String Methods

"""
 String Methods :-

 syntax:-
        stringVariableName.method()
"""

In [45]:
String = "Pythonclass"  #(a-z A-Z 0-9)
# isalnum() 
# Returns True if all characters in the string are alphanumeric .meaning alphabet letter (a-z) and numbers (0-9)
# not alphanumeric: (space)!#%&?

In [46]:
String.isalnum()

'Pythonclass'

In [47]:
String.isalnum()

True

In [48]:
"Pythonclass".isalnum()

True

In [49]:
"Python class".isalnum()

False

In [50]:
"abcd65876".isalnum()

True

In [51]:
"abcd 65876".isalnum()

False

In [52]:
"abcd,65876".isalnum()

False

In [53]:
str1 = String.isalnum()
str1

True

In [56]:
print(str1)

True

In [57]:
print(print(str1))

True
None

In [58]:
print(print(str1))

True
None

In [ ]:
# isalpha()
# Returns True if all characters in the string are alphabet letters. (a-z)
str1 = String.isalpha() 
str1

In [ ]:
"abcd65876".isalpha()