
Range():-
    The range() function returns a sequence of numbers, starting from 0 by default,
    and increments by 1 (by default), and stops before a specified number.
Syntax
    range(start, stop, step)

    Parameter	Description
    start	    Optional. An integer number specifying at which position to start. Default is 0
    stop	    Required. An integer number specifying at which position to stop (not included).
    step	    Optional. An integer number specifying the incrementation. Default is 1

In [ ]:
# can we make table?

In [17]:
range(10)  # range(0,10)

range(0, 10)

In [20]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [ ]:
#eg. Create table of 5
# 1) using list
# 2) using for loop

In [24]:
list(range(0,50,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [25]:
list(range(5,51,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [26]:
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
# Que:Create table of 5 in the following format
#     5*1 = 5
#     5*2 = 10
#     -
#     -
#     5*10 = 50

In [37]:
list(range(5,51,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [36]:
for i in range(5,51,5):        # Need to use index instead of actual values
    print (f"5 * {i} = ", i)

5 * 5 =  5
5 * 10 =  10
5 * 15 =  15
5 * 20 =  20
5 * 25 =  25
5 * 30 =  30
5 * 35 =  35
5 * 40 =  40
5 * 45 =  45
5 * 50 =  50

In [27]:
a= [1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']
#   0  1  2  3   4    5    6     7        8       9      10     11

In [28]:
len(a)

12

In [29]:
a[-11]

2

In [30]:
for i in a:
    print(i)

1
2
3
4
5
6
7
Hello
World
True
False
Houndred

In [31]:
a

[1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [40]:
len(a)

12

In [46]:
a= [1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']
#   0  1  2  3   4    5    6     7        8       9      10     11

In [41]:
list(range(len(a)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [42]:
a[7]

'Hello'

In [47]:
#can we iterate item in list using range?

for x in range(len(a)):
    print(a[x])

1
2
3
4
5
6
7
Hello
World
True
False
Houndred

In [ ]:
# Que:Create table of 5 in the following format
#     5*1 = 5
#     5*2 = 10
#     -
#     -
#     5*10 = 50