
## HOW TO CREATE A DICTIONARY

In [61]:
b_basic = {'name': 'Nikhita' ,'age': 26 , 'job' : 'SOftwareTeste'}
b_basic

{'name': 'Nikhita', 'age': 26, 'job': 'SOftwareTeste'}

In [64]:
# By using variable
a_var = dict(name = "rahul", age = 32 ,job = 'teacher')
a_var

{'name': 'rahul', 'age': 32, 'job': 'teacher'}

In [65]:
a_var.items()

dict_items([('name', 'rahul'), ('age', 32), ('job', 'teacher')])

In [66]:
# By using tuple
d_tup = dict([('name',"Akash"),('age',35),('job',"Instructor")])
#                0      1         0   1      0    1
d_tup

{'name': 'Akash', 'age': 35, 'job': 'Instructor'}

In [ ]:
d_tup = dict([('name',"Akash"),('age',35),('job',"Instructor")])

In [ ]:
d_tup

In [76]:
# By using two list
list_keys = [1,2,3,4,5,6]
#            1 2 3 4 5 6
list_values= ["one","two","three","four","five","six"]
#               1     2     3       4      5      6

In [73]:
zip(list_keys,list_values)

In [74]:
type(zip(list_keys,list_values))

zip

In [82]:
dict(zip(list_keys,list_values))

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [83]:
dict(zip(list_values,list_keys))

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6}

In [77]:
tuple(zip(list_keys,list_values))

((1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six'))

In [78]:
list(zip(list_keys,list_values))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')]

In [ ]:
c_zip = dict(zip(list_keys ,list_values))
c_zip

In [ ]:
list_keys = [1,2,3]
list_values= ["one","two","three","four","five","six"]

In [ ]:
c_zip = dict(zip(list_keys ,list_values))
c_zip

In [79]:
a=zip(list_keys ,list_values)

In [80]:
a

In [ ]:
type(a)

In [81]:
for i in a:
    print(i)

(1, 'one')
(2, 'two')
(3, 'three')
(4, 'four')
(5, 'five')
(6, 'six')

In [ ]:
dict(zip(list_keys ,list_values))

In [ ]:
list(zip(list_keys ,list_values))

In [ ]:
tuple(zip(list_keys ,list_values))

In [ ]:
set(zip(list_keys ,list_values))

## Homework

In [ ]:
# score_vk = {
#         one_day : 700,
#         test : 740,
#         t_20 : 470,
#         international : 250
# }

In [ ]:
# 1. CREATE ABOVE DICTIONARY USING BASIC METHOD 
# {} AND NAME IT AS score_vk_basic

In [ ]:
# 2. CREATE ABOVE DICTIONARY USING 
# variable assignments way AND NAME IT AS score_vk_var

In [ ]:
score_vk

In [ ]:
# 3. CREATE ABOVE DICTIONARY USING 
# tuple pair way  AND NAME IT AS score_vk_basic_tup

In [ ]:
# 4. CREATE ABOVE DICTIONARY USING 
# zip method CONSIDERING 
# KEYS LIST AS list_keys AND 
# VALUES LIST AS list_values  AND 
# NAME IT AS score_vk_basic_tup

### Method

In [84]:
student = {
    'firstName':"Priyanka",
    'lastName':"deshpande",
    "age":23,
    "skills":["pyhton","javascript"],
}

In [85]:
student

{'firstName': 'Priyanka',
 'lastName': 'deshpande',
 'age': 23,
 'skills': ['pyhton', 'javascript']}

In [86]:
student.get("age")

23

In [87]:
student.get("city")

In [88]:
student.get("city","City not given")

'City not given'

In [ ]:
student1=student.copy()

In [89]:
# student2=student # Don't Use

In [90]:
student2

{'firstName': 'Priyanka',
 'lastName': 'deshpande',
 'age': 23,
 'skills': ['pyhton', 'javascript']}

In [ ]:
student1

In [91]:
student1 = {
    'firstName':"Priyanka",
    'lastName':"deshpande",
    "age":23,
    "skills":["pyhton","javascript"],
}

In [93]:
student1

{'firstName': 'Priyanka',
 'lastName': 'deshpande',
 'age': 23,
 'skills': ['pyhton', 'javascript']}

In [94]:
#update()

student1.update({"firstName":"Raj","age":40})

In [95]:
print(student1)

{'firstName': 'Raj', 'lastName': 'deshpande', 'age': 40, 'skills': ['pyhton', 'javascript']}

In [96]:
student1.update({"firstName":"Vinay","age":50,"city":"pune"})
print(student1)

{'firstName': 'Vinay', 'lastName': 'deshpande', 'age': 50, 'skills': ['pyhton', 'javascript'], 'city': 'pune'}

In [97]:
student = {
    'firstName':"Priyanka",
    'lastName':"deshpande",
    "age":23,
    "skills":["pyhton","javascript"],
}

In [98]:
student

{'firstName': 'Priyanka',
 'lastName': 'deshpande',
 'age': 23,
 'skills': ['pyhton', 'javascript']}

In [99]:
# Deleting a key-value pair
del student["skills"]

In [100]:
student

{'firstName': 'Priyanka', 'lastName': 'deshpande', 'age': 23}

In [101]:
student.pop("firstName")

'Priyanka'

In [102]:
student

{'lastName': 'deshpande', 'age': 23}

In [103]:
# Clearing all items from the dictionary
student.clear()

In [105]:
student

{}

In [ ]:

# # setdefault() = get + update
# If the key does not exist, insert the key, with the specified value
# # Syntax
# dictionary.setdefault(keyname, value)

In [109]:
student = {
    'firstName':"Priyanka",
    'lastName':"deshpande",
    "age":23,
    "skills":["pyhton","javascript"],
}

In [110]:
student

{'firstName': 'Priyanka',
 'lastName': 'deshpande',
 'age': 23,
 'skills': ['pyhton', 'javascript']}

In [111]:
student['city']

KeyError: 'city'

In [113]:
student

{'firstName': 'Priyanka',
 'lastName': 'deshpande',
 'age': 23,
 'skills': ['pyhton', 'javascript']}

In [112]:
student.get('city','Pune')

'Pune'

In [116]:
student

{'firstName': 'Priyanka',
 'lastName': 'deshpande',
 'age': 23,
 'skills': ['pyhton', 'javascript']}

In [119]:
student.update({'age':30})

In [121]:
student

{'firstName': 'Priyanka',
 'lastName': 'deshpande',
 'age': 30,
 'skills': ['pyhton', 'javascript'],
 'Age': 30}

In [122]:
student.setdefault('firstName','Pune')  # get+update

'Priyanka'

In [123]:
print(student)

{'firstName': 'Priyanka', 'lastName': 'deshpande', 'age': 30, 'skills': ['pyhton', 'javascript'], 'Age': 30}

In [124]:
student.setdefault('city','Pune')  # get+update

'Pune'

In [125]:
print(student)

{'firstName': 'Priyanka', 'lastName': 'deshpande', 'age': 30, 'skills': ['pyhton', 'javascript'], 'Age': 30, 'city': 'Pune'}