In [10]:
dict_student = {
    "FirstName" : "Vivek",
    "Age":22,
    "Class" :  "FYJC",
    "PIN" : 442404,
    "Sub" : ['P' ,"C" , "M" ,"IT"]
}

In [11]:
dict_student["LastName"]

KeyError: 'LastName'

In [12]:
dict_student.get('LastName')

In [14]:
dict_student.get('LastName',"LastName not defined")

'LastName not defined'

In [15]:
dict_student

{'FirstName': 'Vivek',
 'Age': 22,
 'Class': 'FYJC',
 'PIN': 442404,
 'Sub': ['P', 'C', 'M', 'IT']}

In [16]:
# update
dict_student['Age'] = 40

In [17]:
dict_student

{'FirstName': 'Vivek',
 'Age': 40,
 'Class': 'FYJC',
 'PIN': 442404,
 'Sub': ['P', 'C', 'M', 'IT']}

In [18]:
dict_student['City']

KeyError: 'City'

In [19]:
dict_student.get("City","City is not defined")

'City is not defined'

In [20]:
dict_student

{'FirstName': 'Vivek',
 'Age': 40,
 'Class': 'FYJC',
 'PIN': 442404,
 'Sub': ['P', 'C', 'M', 'IT']}

In [21]:
# add
dict_student['City'] = "Pune"

In [22]:
dict_student

{'FirstName': 'Vivek',
 'Age': 40,
 'Class': 'FYJC',
 'PIN': 442404,
 'Sub': ['P', 'C', 'M', 'IT'],
 'City': 'Pune'}

In [23]:
dict_student.keys()

dict_keys(['FirstName', 'Age', 'Class', 'PIN', 'Sub', 'City'])

In [24]:
"City" in dict_student.keys()

True

In [25]:
dict_student.values()

dict_values(['Vivek', 40, 'FYJC', 442404, ['P', 'C', 'M', 'IT'], 'Pune'])

In [26]:
dict_student.items()

dict_items([('FirstName', 'Vivek'), ('Age', 40), ('Class', 'FYJC'), ('PIN', 442404), ('Sub', ['P', 'C', 'M', 'IT']), ('City', 'Pune')])

In [27]:
dict_student

{'FirstName': 'Vivek',
 'Age': 40,
 'Class': 'FYJC',
 'PIN': 442404,
 'Sub': ['P', 'C', 'M', 'IT'],
 'City': 'Pune'}

In [28]:
#delete
del dict_student['Age']

In [29]:
dict_student

{'FirstName': 'Vivek',
 'Class': 'FYJC',
 'PIN': 442404,
 'Sub': ['P', 'C', 'M', 'IT'],
 'City': 'Pune'}

In [30]:
del dict_student

In [31]:
dict_student

NameError: name 'dict_student' is not defined

In [32]:
animal = {
    #property - values
    #key  -     values
    'legs':2,
    'color':'red',
    'eyes':2,
    'legs':4
}

In [33]:
animal

{'legs': 4, 'color': 'red', 'eyes': 2}

In [34]:
animal.clear()

In [35]:
animal

{}

In [37]:
animal = {
    #property - values
    #key  -     values
    'legs':2,
    'color':'red',
    'eyes':2,
    'legs':4
}

In [38]:
len(animal)

3

In [40]:
animal

{'legs': 4, 'color': 'red', 'eyes': 2}

In [ ]:
animal = {
    #property - values
    #key  -     values
    'legs':2,
    'color':'red',
    'eyes':2,
    'legs':4
}

In [41]:
# dict with in operator ==> check only keys
print("legs" in animal)   #T
print("leg" not in animal) # T
print("leg" in animal)     #F
print("red" in animal)    #F

True
True
False
False

In [42]:
"red" in animal.values()

True

In [43]:
animal

{'legs': 4, 'color': 'red', 'eyes': 2}

In [ ]:
f"The key is{key} and ites value is{Value}"

In [44]:
for key in animal:
    print("The key is",key,"and its value is",animal[key])

The key is legs and ites value is 4
The key is color and ites value is red
The key is eyes and ites value is 2

In [45]:
for key in animal:
    print(key)

legs
color
eyes

In [47]:
a=[11,22,33,44]

In [48]:
for i in a:
    print(i)

11
22
33
44

In [49]:
for i in range(len(a)):
    print(i)

0
1
2
3

In [51]:
for i in range(len(a)):
    print("Index==>",i,"Value==>",a[i])

Index==> 0 Value==> 11
Index==> 1 Value==> 22
Index==> 2 Value==> 33
Index==> 3 Value==> 44

In [52]:
# clear()
animal.clear()

In [53]:
animal

{}

In [ ]:
# Example
flower = {
    'name':"lotus",
    "color":"white",
    "region":"kashmir",
    "lifeShell":4
}

In [55]:
int("10")
Constructor

10


## HOW TO CREATE A DICTIONARY

In [54]:
b_basic = {'name': 'Nikhita' ,'age': 26 , 'job' : 'SOftwareTeste'}
b_basic

{'name': 'Nikhita', 'age': 26, 'job': 'SOftwareTeste'}

In [58]:
# By using variable
a_var = dict(name = "rahul", age = 32 ,job = 'teacher')
a_var

{'name': 'rahul', 'age': 32, 'job': 'teacher'}

In [60]:
Class="Python"

In [59]:
dict(Class="Python")

{'Class': 'Python'}

In [57]:
Class

'Python'

In [62]:
a_var.items()

dict_items([('name', 'rahul'), ('age', 32), ('job', 'teacher')])

In [63]:
# By using tuple
d_tup = dict([('name',"Akash"),('age',35),('job',"Instructor")])
d_tup

{'name': 'Akash', 'age': 35, 'job': 'Instructor'}

## Homework

In [ ]:
# score_vk = {
#         one_day : 700,
#         test : 740,
#         t_20 : 470,
#         international : 250
# }

In [ ]:
# 1. CREATE ABOVE DICTIONARY USING BASIC METHOD 
# {} AND NAME IT AS score_vk_basic

In [ ]:
# 2. CREATE ABOVE DICTIONARY USING 
# variable assignments way AND NAME IT AS score_vk_var

In [ ]:
# 3. CREATE ABOVE DICTIONARY USING 
# tuple pair way  AND NAME IT AS score_vk_basic_tup