In [31]:
# list/tuple/set(map(self_defined_function/lambda_function,iterable_input))

In [32]:
# list/tuple/set(filter(self_defined_function/lambda_function,iterable_input))

In [33]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

## filter()

2) filter() function takes two arguments - a function and an iterable. 
It applies the function to each element of the iterable and returns a new iterable with the elements for which the function returns True.

In [34]:
list_score = [42,71,41,12,8,99]

In [35]:
# filter
# filter (fn,iterable object)
def even_num(s):
    if s%2 ==0:
        return s

In [36]:
even_num([42,71,41,12,8,99])

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [37]:
even_num(42)

42

In [38]:
even_num(43)

In [39]:
list_score

[42, 71, 41, 12, 8, 99]

In [40]:
print(list(filter(even_num,list_score)))

[42, 12, 8]

In [41]:

listE = [22,33,44,55,22,33,44,55,66]
listF = []
#[55,55,66]

for item in listE:
    if item > 50:
        listF.append(item)
print(listF)

[55, 55, 66]

In [42]:
input_list=[22,33,44,50,22,33,44,55,66]

In [43]:
# filter 
q5 = list(filter(lambda x:x >= 50,input_list))
print(q5)

[50, 55, 66]

In [44]:
listG = [33,44,55,22,3,33,477,88,99,33]
print(list(filter(lambda x : x%2 == 0,listG))) #even

[44, 22, 88]

In [45]:
print(set(filter(lambda x : x%2 != 0,listG))) # odd

{33, 99, 3, 55, 477}

In [46]:
listF = ["Priyanka","Raj","Ganesh"]
print(list(filter(lambda x : len(x)  == 3,listF)))

['Raj']

In [47]:
listF = ["Priyanka","Raj","Ganesh"]
print(list(filter(lambda x : x.startswith("G"),listF)))

['Ganesh']

### reduce()

3) reduce() function takes two arguments - a function and an iterable. It applies the function to the first two elements of the iterable, then applies it to the result and the next element, and so on, until all the elements are processed and a single value is returned

In [48]:
# reduce
def all_sum(x):
    s = 0 
    for i in x:
        s = s + i
    return s

In [49]:
print(all_sum([1,2,3,4,5]))

15

In [50]:
print(reduce(lambda x ,y: x+y ,[1,2,3,4,5]))

15

In [51]:
from functools import reduce

In [52]:
print(reduce(lambda x ,y: x+y ,[1,2,3,4,5]))
#                               1 2 ==> 1+2=3
#                                 3  3 ==> 3+3=6
#                                   6 4 ==> 6+4=10
#                                     10 5 ==> 10+5=15
#                                        15
#

15

In [53]:
print(reduce(lambda x ,y: x*y ,[1,2,3,4,5]))

120

In [54]:

listG = [1,2,5,10] # 18
sum = 0  # acc

for item in listG:
    sum = sum + item
print(sum)

18

In [55]:

listG = [1,2,5,10] # 18
sum = 2  # acc

for item in listG:
    sum = sum + item
print(sum)

20

In [56]:
from functools import reduce

print(reduce(lambda x,y:x+y,listG))

18

In [57]:
listG

[1, 2, 5, 10]

In [58]:
# print(reduce(lambda acc,nextval:acc+nextval,listG,5))
#[1,2,5,10] 
#acc 2
#itr 3 5 10 20
print(reduce(lambda x,y:x+y,listG,2)) #[1,2,5,10]
#                                     2 1 ==>2+1=3
#                                       3 2 ==>3+2=5
#                                         5 5 ==>5+5=10
#                                           10 10 ==>10+10=20
#                                              20

20

In [59]:
# reduce
def all_sum(x):
    s = 0 
    for i in x:
        s = s + i
    return s

print(all_sum([1,2,3,4,5]))

15

In [60]:
print(reduce(lambda x ,y: x+y ,[1,2,3,4,5]))

15

In [61]:
print(reduce(lambda x ,y: x*y ,[1,2,3,4,5]))

120