### Statement

1) break statement  -  Loop break
It terminates the loop immediately and transfers execution to the new statement after the loop.

2) continue statement  - Iteration skip
The continue statement causes the loop to skip its current execution at some point and move on to the next iteration. Instead of terminating the loop like a break statement, it moves on to the subsequent execution.

3) pass statement  -  placeholder for future code
Pass statement is used as a placeholder for future code

In [9]:
range(0, 5)

range(0, 5)

In [10]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [8]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [11]:
for i in range(0, 5):  #0, 1, 2, 3, 4
    print(i)
    if i == 3:
        print("Value is 3")

0
1
2
3
Value is 3
4

In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
for i in range(10):  #0, 1, 2, 3, 4, 5, 6, 7, 8, 9
    print(i)    #0  1  2  3 "Value is 3" 4 5 6 7 8 9
    if i == 3:
        print("Value is 3")
        
print("Hi")

0
1
2
3
Value is 3
4
5
6
7
8
9
Hi

In [ ]:
a=[10,5,8,9,24,45,6,67,89,45,67,78,89,333,555]

In [4]:
for i in range(0, 10):
    print(i)
    if i == 3:
        break
    
print("Hi")

0
1
2
3
Hi

In [ ]:
for i in range(0, 10):
    if i == 3:
        continue
    print(i)

In [ ]:
for i in range(0, 10):
    if i == 3:
        pass
    print(i)

In [5]:
a=[10,5,8,9,24,45,6,67,89,45,67,78,89,333,555]
               #          #

In [6]:
for i in a:
    if i == 45:
        print(i)

45
45

In [7]:
for i in a:
    if i == 45:
        print(i)
        break

45

In [ ]:
#  0  1 2 3 4  5  6 . . .
a=[10,5,8,9,24,45,6,67,89,45,67,78,89,333,555]
             #  #          #        #

In [10]:
for i in a:
    if ((i == 45) | (i == 24) | (i == 89)):
        continue
    print(i)

10
5
8
9
6
67
67
78
333
555

In [ ]:
#  0  1 2 3 4  5  6 . . .
a=[10,5,8,9,24,45,6,67,89,45,67,78,89,333,555]
             #  #          #        #

In [14]:
for i in a:
    if ((i == 45) | (i == 24) | (i == 89)):
        print(i*2)
    print(i)

10
5
8
9
48
24
90
45
6
67
178
89
90
45
67
78
178
89
333
555

In [15]:
for i in a:
    if ((i == 45) | (i == 24) | (i == 89)):
        pass
    print(i)

10
5
8
9
24
45
6
67
89
45
67
78
89
333
555

In [13]:
for i in a:
    if ((i == 24) & (i == 45) & (i == 89)):
        continue
    print(i)

10
5
8
9
24
45
6
67
89
45
67
78
89
333
555

In [8]:
for i in a:
    if i == 45:
        continue
    print(i)

10
5
8
9
24
6
67
89
67
78
89
333
555

In [16]:
for i in range(0, 10):
    if i == 3:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for x in range(20):
    if x % 2 == 0:
        continue
    print (x)

1
3
5
7
9
11
13
15
17
19

In [18]:
for x in range(20):
    if x % 2 == 0:
        print (x)

0
2
4
6
8
10
12
14
16
18

In [19]:
for x in range(5): 
    if(x == 2):
        continue
    print(x)

0
1
3
4