# Operators

 Operators are special symbols in Python that carry out arithmetic or logical computation. 
 The value that the operator operates on is called the operand.
 
    1. Arithmetic
    2. Comparison
    3. Logical
    4. Special operators :- 1) Identity operators
                            2) Membership operators
    5. Assignment operators:-

## 3) Logical Operators :-

    Operator	                            Description	
    and      Logical AND	    If both the operands are true then condition becomes true.	(a and b) is true.
    or        Logical OR	    If any of the two operands are non-zero then condition becomes true. (a or b) is true.
    not       Logical NOT	    Used to reverse the logical state of its operand.

In [ ]:
# and
True and True ===> True
True and False ===> False
False and True===> False
False and False ===> False

# or
True or True ===> True
True or False ===> True
False or True===> True
False or False ===> False

#not
not (condition) ==> Reverse

not (True) ==> False
not (False) ==> True

There are two built-in functions for multiple condition

all() :- True if all True otherwise False
any() :- True if at least one is True. False if all conditions are False

The all() function returns True if all elements in the iterable are truthy (i.e., non-zero, non-empty, or True), or False if at least one element is falsy (i.e., zero, empty, or False)

In [ ]:
# If c1,c2 and c3 conditions are True

# c1  and c2  and  c3  and   c4  ==>  True   # c4=True / c4 value must be defined and not null / c4 != 0 

# c1  and c2  and  c3  and   c4  ==>  False  # c4=False / c4=null / c4=0

In [28]:
all((12 < 13 , 7 == 7,12 <= 13 , 7 != 6))
#     T         T        T        T

True

In [29]:
all((12 < 13 , 7 == 7,12 <= 13 , 7 != 6 , 0))   #why?  # False

#

False

In [30]:
all((12 < 13 , 7 == 7,12 <= 13 , 7 != 6 ,False))   #

False

In [31]:
any((12 < 13 , 7 == 7,12 <= 13 , 7 != 6 , 0))      #

True

## 4) Special operators

 1) Identity operators
 
 2) Membership operators

### 1) Identity operators

    Operator	Description	
      is 	    Returns true if both variables are the same object	
     is not  	Returns true if both variables are not the same object

In [ ]:
# variable1      operator           variable2
#             (is / is not)

In [32]:
# eg
x = 10
y = 11 
z = '10'

In [36]:
print( x, type(x))
print( y, type(y))
print( z, type(z))

10 <class 'int'>
11 <class 'int'>
10 <class 'str'>

In [33]:
x

10

In [34]:
y

11

In [35]:
z

'10'

In [39]:
# eg
x = 10
y = 11 
z = '10'
z2=10

In [37]:
print(x is y)

False

In [38]:
print(x is z)

False

In [40]:
print(x is Z2)

NameError: name 'Z2' is not defined

In [41]:
print(x is z2)

True

In [ ]:
# eg
x = 10
y = 11 
z = '10'
z2=10

In [42]:
print(x is not y) 
print(x is not z)

True
True

In [3]:
print(id(x))
print(id(y))
print(id(z))

2149626243664
2149626243696
2147489515824

In [45]:
id(x)

2149626243664

In [46]:
id(y)

2149626243696

In [47]:
a2=2
z2=2

In [48]:
id(a2)

2149626243408

In [49]:
id(z2)

2149626243408

In [50]:
id(a2) == id(z2)

True

In [58]:
a2=2
z2="2"

In [59]:
id(a2)

2149626243408

In [60]:
id(z2)

2149627167472

In [61]:
id(a2) == id(z2)

False

### 2) Membership Operator

    Operator	   Description	
      in	        Evaluates to true if it finds a variable in the specified sequence and false otherwise.
      not in	    Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.

In [ ]:
# variable1      operator           variable2
#             (in / not in)

In [67]:
 "P" in "Python"

True

In [69]:
 "z" in "Python"

False

In [70]:
 "z" not in "Python"

True

In [68]:
 "P" in "python"

False

In [71]:
a = 'h'
b = 'hello'
c = 'world'

In [72]:
print(a in b)

True

In [73]:
print(a in c)

False

In [74]:
print(a not in c)

True